
	html, body
	{
		margin: 0px;
		padding: 0px;
		font-family: Tex Gyre Adventor;
	}

	body
	{
		background-color: white;
		background-color: #CCCC99;
		color: black;
	}

	h1#heading
	{
		font-size: 40px;
		margin-top: 0px;
		margin-bottom: 16px;
		padding-top: 16px;
	}

	h1#heading-below
	{
		font-size: 15px;
	}

	legend
	{
		font-size: 17px;
		font-weight: bold;
	}

	fieldset
	{
		padding-top: 10px;
		padding-bottom: 18px;
		padding-left: 16px;
		border: 1px solid black;
	}

	input[type="submit"]
	{
		
		color: black;
		background-color:white;
		font-family: Tex Gyre Adventor;
		letter-spacing: 0.1em;
		height: 31px;
		width: 92px;
		font-weight: bold;
		border: 1px solid black;
		cursor: pointer;
	}

	/*
	input[type="submit"]:hover
	{
		background-color:white;
		color: #57B0AE;
	}
	*/

	/*
	input[type="submit"]:hover
	{
		/*color: #57B0AE;*/
		/*color: #3369E8;
		color: #8CC739;
		background-color: white;
		/*border: 1px solid #3369E8;
		/*border: 1px solid #57B0AE;
		border: 1px solid #8CC739;
	}
	*/

	input[type="submit"]:focus
	{
		outline: none;
	}

	input[type="submit"]#all-button-form, #current-button-form
	{
		height: 34px;
		width: 60%;
	}

	#sort-button
	{
		width: 48%;
		height: 31px;
	}

	input[type="radio"]
	{
		cursor: pointer;
	}

	input[type="text"]
	{
		font-family: Tex Gyre Adventor;
		border: 1px solid black;
	}

	input[type="text"]:hover
	{
		border: 1px solid gray;
	}

	input[type="text"]:focus
	{
		/*border: 1px solid #57B0AE;*/
		outline: none;
		border: 1px solid #8CC739;
	}

	#search-textbox
	{
		margin-top: 12px;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 2px;
		padding-bottom: 2px;
		height: 20px;
		width: 80%;
	}

	.header
	{
		text-align: center;
		font-family: Tex Gyre Adventor;
		letter-spacing: 0.4em;
		/*background-color: #CFCFCF;
		background-color: #4285F4;
		background-color: #31C3E7;*/
		color: white;
		background-color: #990033;
		/*text-shadow: 1px 1px 3px rgba(2,2,2,0.8);*/
		padding-bottom: 12px;
		/*border-bottom: 1px solid black;*/
		border-bottom: 1px solid #666633;
	}

	.subject
	{
		font-size: 14px;
	}

	.subject-heading
	{
		/*background-color: #57B0AE;
		background-color: #4285F4;
		background-color: #58AFAF;
		background-color: white;*/
		font-family: Tex Gyre Adventor;
		/*color: #4285F4;
		color: #31C3E7;
		/*text-shadow: 1px 1px 1px rgba(2, 2, 2, 0.2);*/
		color: #990033;
		background-color: #CCCC99;
		letter-spacing: 0.1em;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		/*border-bottom: 1px solid black;*/
		border-bottom: 1px solid #666633;
		margin-bottom: 19px;
	}

	.sub-subject
	{
		padding-right:9%;
		padding-left: 9%;
	}

	.subject .options
	{
		width: 15%;
		height: 540px;
		border-right: 1px solid #666633;
		float: left;
		min-width:99px;
	}

	.subject .options .gender
	{
		padding-bottom: 12px;
	}

	.subject .options .category
	{
		padding-bottom: 12px;
	}

	.subject .options .category .select-all
	{
		padding-bottom: 10px;
		border-bottom: 1px solid black;
	}

	.subject .options .category .select
	{
		padding-top: 10px;
	}

	.subject .sort
	{
		width: 19%;
		height: 540px;
		text-align: center;
		border-right: 1px solid #666633;
		float: left;
		min-width: 199px;
	}

	.subject .sort .sort-type
	{
		width: 40%;
		text-align: left;
		padding-left: 5%;
		margin-bottom: 20px;
		float: left;
	}

	.subject .sort .sort-order
	{
		width: 55%;
		text-align: left;
		margin-bottom: 20px;
		float: left;
	}

	.subject .search-and-all-buttons
	{
		height: 540px;
		width: 34%;
		border-right: 1px solid #666633;
		float: left;
	}

	.subject .search
	{
		height: 180px;
		width: 100%;
		text-align: center;
		/*border-right: 1px solid black;*/
		border-bottom: 1px solid #666633;
		/*float: left;*/
		min-width: 199px;
	}

	.subject .all-buttons
	{
		height: 130px;
		width: 100%;
		/*border-right: 1px solid black;*/
		border-bottom: 1px solid #666633;
	}

	#all-button
	{
		float: left;
		width: 50%;
		text-align: center;
	}

	#current-button
	{
		float: left;
		width: 50%;
		text-align: center;
	}