
	html, body
	{
		margin: 0px;
		padding: 0px;
		font-family: Tex Gyre Adventor;
	}

	body
	{
		background-color: white;
		color: black;
	}

	h1#heading
	{
		font-size: 40px;
		margin-top: 0px;
		margin-bottom: 16px;
		padding-top: 16px;
	}

	h1#heading-below
	{
		font-size: 15px;
	}

	legend
	{
		font-size: 17px;
		font-weight: bold;
	}

	fieldset
	{
		padding-top: 10px;
		padding-bottom: 18px;
		padding-left: 16px;
		border: 1px solid black;
	}

	input[type="submit"]
	{
		
		color: black;
		background-color:white;
		font-family: Tex Gyre Adventor;
		letter-spacing: 0.1em;
		height: 31px;
		width: 92px;
		font-weight: bold;
		border: 1px solid black;
		cursor: pointer;
	}
	
	input[type="submit"]:hover
	{
		color: #085EAE;
		border: 1px solid #085EAE;
	}
	
	input[type="submit"]:focus
	{
		outline: none;
	}

	input[type="submit"]#all-button-form, #current-button-form
	{
		height: 34px;
		width: 60%;
	}

	#sort-button
	{
		width: 48%;
		height: 31px;
	}

	input[type="radio"]
	{
		cursor: pointer;
	}

	input[type="text"]
	{
		font-family: Tex Gyre Adventor;
		border: 1px solid black;
	}

	input[type="text"]:hover
	{
		border: 1px solid gray;
	}

	input[type="text"]:focus
	{
		outline: none;
		border: 1px solid #085EAE;
	}

	#search-textbox
	{
		margin-top: 12px;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 2px;
		padding-bottom: 2px;
		height: 22px;
		width: 86%;
	}

	input[type="checkbox"]:hover
	{
		cursor: pointer;
	}

	.header
	{
		text-align: center;
		font-family: Tex Gyre Adventor;
		letter-spacing: 0.4em;
		color: white;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
		background-color:#085EAE;
		padding-bottom: 12px;
		border-bottom: 1px solid black;
	}

	.subject
	{
		font-size: 14px;
	}

	.subject-heading
	{
		font-family: Tex Gyre Adventor;
		color: white;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
		background-color: #31C3E7;
		letter-spacing: 0.1em;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid black;
		margin-bottom: 19px;
	}

	.sub-subject
	{
		padding-right:2%;
		padding-left: 2%;
	}

	.subject .options
	{
		width: 32%;
		height: 540px;
		/*border-right: 1px solid black;*/
		float: left;
		min-width:99px;
	}

	.subject .options .sub-subject .gender-systems
	{
		float: left;
		height: 240px;
		width: 40%;
		padding-right: 10%;

	}

	.subject .options .gender
	{
		padding-bottom: 12px;
	}

	.subject .options .sub-subject .gender-systems .systems .system-all
	{
		padding-bottom: 10px;
		border-bottom: 1px solid black;
	}

	.subject .options .sub-subject .gender-systems .systems .system
	{
		padding-top: 10px;
	}

	.subject .options .sub-subject .categories
	{
		float: right;
		height: 240px;
		width: 40%;
		padding-right: 10%;
	}

	.subject .options .categories .category-all
	{
		padding-bottom: 10px;
		border-bottom: 1px solid black;
	}

	.subject .options .categories .category
	{
		padding-top: 10px;
	}

	.subject .sort
	{
		width: 19%;
		height: 540px;
		text-align: center;
		/*border-right: 1px solid black;*/
		float: left;
		min-width: 199px;
	}

	.subject .sort .sort-type
	{
		width: 40%;
		text-align: left;
		padding-left: 5%;
		margin-bottom: 20px;
		float: left;
	}

	.subject .sort .sort-order
	{
		width: 55%;
		text-align: left;
		margin-bottom: 20px;
		float: left;
	}

	.subject .search
	{
		height: 540px;
		width: 36%;
		float: left;
		text-align: center;
		min-width: 199px;
	}

	.subject .search .sub-subject #searchIdForm,
	.subject .search .sub-subject #searchSystemForm,
	.subject .search .sub-subject #searchDateForm
	{
		float: left;
		width: 33%;
	}

	.subject .search .sub-subject #searchIdForm
	{
		text-align: right;
		width: 29%;
	}

	.subject .search .sub-subject #searchDateForm
	{
		text-align: left;
	}

	.subject .all-buttons
	{
		height: 540px;
		width: 32%;
		float: right;
	}

	#all-button
	{
		float: left;
		width: 50%;
		text-align: center;
	}

	#current-button
	{
		float: left;
		width: 50%;
		text-align: center;
	}